{% load static %}<!doctype html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex,nofollow,noarchive">
  <meta name="theme-color" content="#211829">
  <meta name="description" content="{{ letter.dedication }}">
  <title>{{ letter.brand }}</title>
  <link rel="icon" href="{% static 'favicon.svg' %}" type="image/svg+xml">
  <link rel="preload" href="{% static 'fonts/Vazirmatn.ttf' %}" as="font" type="font/ttf" crossorigin>
  <link rel="stylesheet" href="{% static 'css/experience.css' %}">
  <script src="{% static 'js/experience.js' %}" defer></script>
</head>
<body>
  <a class="skip-link" href="#beginning">{{ letter.ui.skip }}</a>
  {% block content %}{% endblock %}
</body>
</html>
